@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);

/* 전체 배경색 */
body{
    background-color: #000;
}
body *{
    outline: 2px dotted yellow;
}
/******************** 1. 상단영역 ********************/
.top{
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1.로고 */
.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 4rem;
    text-align: center;
    line-height: 80px;

    /* 그림자를 이용한 Glow효과 */
    text-shadow: 0 0 4px aquamarine;
    /* 애니메이션 : 이시이지반방마*/
    animation: titAni .5s ease-in infinite alternate;

}
/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titAni {
    to{
        text-shadow: 0 0 15px aquamarine;
    }
}
/******************** 2. 메인영역 ********************/
.cont{
    /* 랠러티브 포지션 : 부모자격(#screen) */
    position: relative;
    height: 788px;
    background: url(../images/bg.jpg) no-repeat center;
}
/* 2-1. 스키린박스 */
#screen{
    /* 앱솔루트 포지션 */
    position: absolute;
    top: 137px;
    /* 화면이 줄어도 스크린이 중앙에 위치하도록 left 50%밀고 스크린 크기의 절반정도를 뺌 */
    left: calc(50% - 343px);
    width: 699px;
    height: 396px;
    /* 부모 - .cont */
    background-color: red;
    background-color: #000;
}
/* 유튜브 아이프레임 */
#screen iframe{
    width: 100%;
    height: 100%;
    border: none;
    /* 기존프레임보다 위 */
}

/* 2-2.예고편 선택메뉴 */
.mlist{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* 앱솔로트 판타롱스타킹 이므로 가로크기를 부모박스에 맞춘다 
    왜? flex정렬을 쓰려고 */
}
/* 선택메뉴 ul */
.mlist ul{
    /* 플렉스 박스 */
    display: flex;
    /* 수평방향 정렬 */
    justify-content: center;
}
/* 상위 li */
.mlist ul>li{
    /* .movtxt(부모자격) */
    position: relative;
    /* 부모자격이 있는 요소가 앱솔루트 숨길 수 있다 */
    overflow: hidden;
}
/* 상위li 2번째 부터 끝까지 선택 */
.mlist>ul>li+li{
    margin-left: 10px;
}
/* 포스터 이미지 */
.mlist img{
    width: 99px;
    height: 140px;

}
/* 영화정보박스 */
.movtxt{
    /* 플렉스박스 */
    display: flex;
    /* 플렉스 수직방향 진행 */
    flex-direction: column;
    /* 진행방향의 수평 중앙정렬 */
    justify-content: center;

    /* 앱솔루트 포지션 */
    position: absolute;
    /* 처음에 높이값 만큼 아래에 있음 */
    top: 100%;
    /* 부모 */
    width: 100%;
    height: 100%;

    /* 반투명배경 */
    background-color: rgba(0, 0, 0, 0.7);

    /* 글자 */
    font-family: 'Cute Font';
    cursive;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2;

    /* 트랜지션: 속시이지 */
    transition: top .3s ease-out;
}
/* 상위 li 마우스 오버시 영화정보 올라오기 */
.mlist ul>li:hover .movtxt{
    top: 0;
}
/* 영화제목만 변경 */
.movtxt li:first-child{
    color: aqua;
    font-size: 1.7rem;
    letter-spacing: -1px;
}
/******************** 3. 하단영역 ********************/
.info{
    display: flex;
    height: 100px;
}
 
/* 하단로고  */
.info>div:first-child{
    margin-right: 20px;
}
/* 회사주소  */
.info address{
    color: #ccc;
    font-style: normal;
    font-family: 'Cute Font',cursive;
    cursive;
    font-size: 1.8rem;
    line-height: 2rem;
}
/* SNS박스  */ 
.info>div:last-child{
    /* 마지막 div만 오른쪽 끝으로 이동 */
    margin-left: auto;
}
.sns{
    display: flex;
}
.sns li{
    width: 34px;
    height: 34px;

}