@charset "utf-8";

.cont {
    background: url("../image/main01.jpg") no-repeat center/cover;
    height: 100vh;
}

#wrap {
    position: absolute;
    top: 23%;
    left: 50%;
    outline: 1px solid yellow;
}
