@charset "utf-8";

body * {
    outline: 1px solid yellow;
}

/* 상단영역 */
.logo{
    position: absolute;
    width: 100%;
    text-align: center;
}
.logo a {
    margin-top: 10px;
    font-size: 30px;
    color: #fedc56;
    text-decoration: none;
}

/* 메인영역 */
.cont{
    background: url("../image/gang.png") no-repeat center/cover;
    height: 920px;
}
.cont2{
    background: url("../image/main01.jpg") no-repeat center/cover;
    height: 984px;
}
/* 하단영역 */
.info {
    /* 진행방향 수직정렬 */
    align-items: center;
    /* 최소높이설정 */
    min-height: 100px;
}
/* 3-2.회사주소 */
.info address {
    color: rgb(156, 156, 156);
    font-style: normal;
    font-size: 0.9rem;
    line-height: 2rem;
    text-align: center;
}

.gnb{
    position: absolute;
    right: 20px;
}
.gnb ul{
    display: flex;
}
.gnb ul>li{
    position: relative;
}


